.panel.panel-default
  .panel-heading
    %h4
      = link_to task.title, task
      %small
        %span.label.label-default= task.state_name
  .panel-body
    %p
      tags:
      = raw task.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
    = render 'users', task: task
