= form_for(Membership.new(project: @project)) do |f|
  %div= f.hidden_field :project_id
  = f.select :user_id, User.all.map { |user| [user, user.id] }, class: 'form-control'
  = f.submit 'Add', class: 'btn btn-default'
