%h4= "Исәнмесез, #{@resource.email}"

%p Кемдер khayat.ru сайтында сезнең аккаунтның серсүзен үзгәртү сылтамасын сораган. Сез моны түбәндәге сылтамага күчеп эшли аласыз.

%p= link_to "Серсүзне үзгәртергә", edit_password_url(@resource, reset_password_token: @token)

%p Әгәр сез серсүзне үзгәртүне сорамаган булсагыз бу хатны алып ташлагыз.

%p Ихтирам белән khayat.ru администрациясе
